@media screen and (min-width: 500px) and (max-width:768px) {
  .my-2 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

}

 @media screen and (max-width: 500px) {
.my-2 {
    margin-top: -0.5rem !important;
    margin-bottom: 0.5rem !important;
}

 }