 .my2{
  margin: 0rem !important;
  
} 
 
 @media screen and (max-width: 500px) {
.my2{
  margin-top: -0.5rem !important;
  margin-bottom: .5rem !important;
  margin-left:-4px !important;          
 }
  }

    @media screen and (min-width: 500px) and (max-width:768px) {
 .my2{
    margin: 1rem !important;
  }
    }