.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* In your App.css or a separate dark mode CSS file */
body {
  background-color: #0d0d0d;
  color: #ffffff;
}

.navbar {
  background-color: #e91e63;
}

.text-white {
  color: #ffffff;
}

/* Custom styles for badges if needed */



/* You can add more custom styles for other parts of the app */
.black-input {
  background-color: black;
  color: white;
  border: 1px solid gray; /* Optional: To add a border color */
}

.black-input::placeholder {
  color: lightgray; /* Optional: To style the placeholder text */
}
/* Style the pill-shaped ingredients */
.ingredient-pill {
  display: inline-block;
  background-color: #B0BEC5; /* Gray color */
  color: black; /* Text color */
  border-radius: 20px; /* To make it pill-shaped */
  padding: 5px 15px; /* Adjust padding to fit text nicely */
  margin: 5px; /* Space between each pill */
  font-weight: bold; /* Optional: makes text bold */
}
/* RestaurantCard.css */
.card {
  margin-bottom: 10px; /* Adjusts the vertical gap */
}

.card-img-top {
  height: 150px; /* Controls the height of the image */
  object-fit: cover;
}

.card-body {
  padding: 0.75rem; /* Reduce the padding inside the card */
}

/* Optional: Control the width of the cards for different screen sizes */
@media (min-width: 576px) {
  .card {
    width: 45%; /* Smaller width on smaller screens */
  }
}

@media (min-width: 768px) {
  .card {
    width: 30%; /* Medium size on larger screens */
  }
}

@media (min-width: 992px) {
  .card {
    width: 22%; /* Smallest width on large screens */
  }
}

